/* ELEMENT RULESETS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

/* this rulset exsists to make the backgrounds of the header and footer extend to the edge of the page, else there is essentially a white border around everything */
body {
    margin: 0;
}

/* setting organization and colors for navbar & title */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

address {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CLASS RULSETS */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink {
    display: inline;
}

.navlink a {
    display: inline;
    color: white;
    border: px solid black;
    text-align: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 0px 1px;
    padding: 6% 30px;

}

/* when on a page, the corresponding element in the navbar is set to this color */
.selected {
    background-color: #c26502;
}

.navtitle {
    margin: 20px;
}