/* ELEMENT RULESETS */

html {
    min-width: 850x;
}

/* setting organization and colors for navbar & title */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* this rulset exsists to make the backgrounds of the header and footer extend to the edge of the page, else there is essentially a white border around everything */
body {
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3%;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}

address {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-between;
    align-content: stretch;
}

ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 6%;
}

img {
    padding-left: 5%;
}

/* CLASS RULSETS */

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-title {
    margin: 20px;
}

.nav-link {
    display: inline;
}

.nav-link .deselected {
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5% 23px;
}

/* when on a page, the corresponding element in the navbar is set to this color */
.nav-link .selected {
    background-color: #c26502;
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 6% 23px;
}

.top-albums {
    width: 500px;
    min-width: 780px;
    margin-left: 3%;
    margin-right: 3%;
}